.favorite-card {
    width: 18rem;
    min-height: 100%;
    margin: 5px;
    /* border: 2px solid rgb(40, 54, 24); */
    position: relative;
    /* background-color: #fff; */
    /* border-radius: 4px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* transition: box-shadow 0.3s ease;  */
  }
  
  .favorite-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .favorite-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .favorite-card-title {
    color: darkgreen;
  }
  
  .favorite-card-body {
    color: black;
  }
  
  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: red;
    font-size: 24px;
  }
  
  @media (max-width: 1200px) {
    .favorite-card {
      flex: 1 0 21%;
    }
  }
  
  @media (max-width: 768px) {
    .favorite-card {
      flex: 1 0 46%;
    }
  }
  
  @media (max-width: 576px) {
    .favorite-card {
      flex: 1 0 96%;
    }
  }
  
  