.home-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.call-to-action {
  height: 90vh;
  background-image: url("../images/homepage-img.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 32px;
  padding-left: 24px;
}

.call-to-action-slogan {
  display: flex;
  align-items: center;
  background-color: #fefbf7;
  height: 200px;
  width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.call-to-action-slogan h3 {
  font-size: 1.5em;
  color: #606c38;
  font-weight: bold;
  padding: 30px;
  line-height: 2;
}

.featured-farmers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 40px 0;
}

.featured-farmers-container h3 {
  color: #606c38;
  font-weight: bold;
  margin-bottom: 16px;
}

.featured-farmers {
  height: 350px;
  width: 95%;
  background-color: #fefbf7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.popular-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.popular-products {
  height: 500px;
  width: 95%;
  background-color: #fefbf7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 24px;
}

.popular-products-container h3 {
  color: #606c38;
  font-weight: bold;
  margin-bottom: 16px;
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
}

.carousel-control-next {
  color: black;
}

.carousel-control-next:hover {
  color: gray;
}

.carousel-control-prev {
  color: black;
}

.carousel-control-prev:hover {
  color: gray;
}

@media (max-width: 768px) {
  .call-to-action-slogan {
    width: 95%;
  }
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  row-gap: 12px;
}

.card {
  text-align: center;
}

.card img {
  padding: 12px;
}

.card-description {
  height: 30%;
  margin-bottom: 16px;
  overflow: hidden;
}

.product-button {
  background-color: #283618;
  --bs-btn-bg: #dda15e;
  --bs-btn-hover-bg: #606c38;
  --bs-btn-border-color: #606c38;
  --bs-btn-hover-border-color: #606c38;
  --bs-btn-active-bg: #606c38;
}

.vr {
  margin-left: 16px;
  margin-right: 16px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-picture {
  height: 400px;
  width: 100%;
  background-image: url("../images/aboutpg-picture.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.about-body-container {
  display: flex;

  flex-direction: column;
  margin-top: 12px;
  padding: 24px;
  align-items: center;
  text-align: center;
}

.about-body h2 {
  color: #283618;
}

.about-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
