body {
  font-family: Arial, sans-serif;
  background-color: #f8f7dc;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #1dbe4517;
  padding: 20px darkgreen;
  border-radius: 10px;
}

.sidebar h2 {
  text-align: center;
  color: #333;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f0f7f217;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #ddd;
}

/* .profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
} */

/* .profile-header img {
  border-radius: 50%;
  margin-bottom: 10px;
} */

.welcome-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.card-body {
  position: relative;
  text-align: center;
  color: #1dbe4517;
  background-size: cover;
  background-position: center;
 
}

/* .top-image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
} */


.background-image {
  width: 100%;
  height: 200px;
  background-image: url('https://th.bing.com/th/id/OIP.fScEVWMl35prJhwNSHcrqwHaDF?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-position: center;
}

.carousel-container {
  width: 100%;
  padding: 10px;
  background-color: #1dbe4517;
}

.local-markets-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}