.sidebar {
    position: sticky;
    top: 20px;
    height: 100vh; /* Adjust height based on your layout needs */
    overflow-y: auto; /* Allow scrolling if content exceeds height */
    /* padding: 20px; */
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0; 
    margin-top: 100px;
}