body {
  font-family: Arial, sans-serif;
  background-color: #1dbe4517;
  margin: 0;
  padding: 0;
}

.sidebar2 {

  padding: 8px;
  border-radius: 10px;
}

.upload-image-container {
  /* border: 2px solid darkgreen; */
  padding: 2px ;
  border-radius: 10px;
  text-align: center;
}

.user-info-container {
  border: 2px solid;
  border-image: darkgreen;
  padding: 10px;
  border-radius: 10px;
  margin-top: 0px;
}

.sidebar2 h2 {
  text-align: center;
  color: #333;
}

.sidebar2 button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #1dbe4517;
  cursor: pointer;
}

.sidebar2 button:hover {
  background-color: #1dbe4517;
}
.sidebar2 .btn-signout {
  background-color: rgba(248, 3, 3, 0.733);
  color: #fff;
  border-color: rgba(248, 3, 3, 0.733);
}

.sidebar2 .btn-signout:hover {
  background-color: rgb(167, 154, 154);
  border-color: rgb(180, 172, 172);
}

/* .profile-header {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
} */

/* .profile-header img {
  border-radius: 50%;
  margin-bottom: 10px;
} */

.welcome-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.card-body {
  position: relative;
  text-align: center;
  color: #1dbe4517;
  background-size: cover;
  background-position: center;

}

.background-image {
  width: 100%;
  height: 200px;
  background-image: url('https://th.bing.com/th/id/OIP.fScEVWMl35prJhwNSHcrqwHaDF?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-position: center;
}

